<% include ../partials/boilerplate %>

<h1>Players</h1>
<div class="players-list">
  <% players.forEach((player) => { %>
    <% include ../partials/single_player %>

  <% }) %>
</div>
<% include ../partials/end %>
