<% include ../partials/boilerplate %>
<form class="create-players" action="/Players" method="post">
  <h2>New Player</h2>
  <label>
    <h3>Content</h3>
    <textarea name="content" rows="8" cols="80"></textarea>
  </label>
  <label>
    <h3>Name</h3>
    <input type="text" name="name" value="">
  </label>
  <label>
    <h3>Shoe</h3>
    <input type="text" name="shoe" value="">
  </label>
  <button type="submit">Submit</button>
</form>
<% include ../partials/end %>
