<% include ../partials/boilerplate %>
<div class="single-players">
  <h1>View Player</h1>
  <% include ../partials/single_players %>
  <div class="players-link">
    <a class="list-link" href="/players">Back to player List</a>
  </div>
</div>
<% include ../partials/end %>
