<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Ballers</title>
    <link rel="stylesheet" href="/style.css" type="text/css" media="all" />
  </head>
  <body>
    <nav>

      <ul>
        <a href="/">
          <h3>Home</h3>
        </a>

        <a href="/players">
          <h3>Nike</h3>
        </a>

           <a href="/players">
          <h3>Adidas</h3>
        </a>

        <a href="/players">
          <h3>Under Armour</h3>
        </a>

        <a href="/players">
          <h3>Jordan</h3>
        </a>
      </ul>
    </nav>
    <main>
