<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Ballers</title>
    <link rel="stylesheet" href="/style.css" type="text/css" media="all" />
  </head>
  <body>
    <nav>
      <ul>
        <a href="/">
          <li>Home</li>
        </a>
        <a href="/players">
          <li>Nike</li>
        </a>
           <a href="players">
          <li>Adidas</li>
        </a>
        <a href="/players">
          <li>Under Aromor</li>
        </a>
        <a href="/players">
          <li>Jordan</li>
        </a>
      </ul>
    </nav>
    <main>
